<div class="sidebar-panel">
  <div class="m-t-md">
    <h4>Statistics</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
    </p>
    <div class="row m-t-sm">
      <div class="col-md-6">
        <span peity [type]="peityType1" [options]="peityOptions2">5,3,9,6,5,9,7,3,5,2</span>
        <h5><strong>169</strong> Posts</h5>
      </div>
      <div class="col-md-6">
        <span peity [type]="peityType2" [options]="peityOptions3">5,3,9,6,5,9,7,3,5,2</span>
        <h5><strong>28</strong> Orders</h5>
      </div>
    </div>
  </div>
  <div class="m-t-md">
    <h4>Discussion</h4>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary">16</span>
          General topic
        </li>
        <li class="list-group-item ">
          <span class="badge badge-info">12</span>
          The generated Lorem
        </li>
        <li class="list-group-item">
          <span class="badge badge-warning">7</span>
          There are many variations
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
  <div class="col-sm-12">
    <div class="input-group"><input [(ngModel)]="searchString" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" (click)="onSearch()" class="btn btn-sm btn-primary"> Go!</button> </span></div>
  </div>
    </div>
  <br/>
  <div class="row">

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Today</span>
          <h5>visits</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">22 285,400</h1>
          <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
          <small>New orders</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Monthly</span>
          <h5>Orders</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">60 420,600</h1>
          <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
          <small>New orders</small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-warning pull-right">Annual</span>
          <h5>Income</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">$ 120 430,800</h1>
          <div class="stat-percent font-bold text-warning">16% <i class="fa fa-level-up"></i></div>
          <small>New orders</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New data for the report</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content ibox-heading">
          <h3>Stock price up
            <div class="stat-percent text-navy">34% <i class="fa fa-level-up"></i></div>
          </h3>
          <small><i class="fa fa-stack-exchange"></i> New economic data from the previous quarter.</small>
        </div>
        <div class="ibox-content">
          <div>

            <div class="pull-right text-right">

              <span peity [type]="peityType1" [options]="peityOptions1">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
              <br/>
              <small class="font-bold">$ 20 054.43</small>
            </div>
            <h4>NYS report new data!
              <br/>
              <small class="m-r"><a href="graph_flot.html"> Check the stock price! </a> </small>
            </h4>
          </div>
        </div>
      </div>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Read below comments and tweets</h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content no-padding">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let d of data">
              <p> {{d.text}} <span class="label label-primary">{{d.sentiment}}</span></p>
              <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Timeline</h5>
          <span class="label label-primary">Meeting today</span>
          <iboxtools></iboxtools>
        </div>

        <div class="ibox-content inspinia-timeline">

          <div class="timeline-item" >
            <div class="row" *ngFor="let d of data">
              <div class="col-xs-3 date">
                <i class="fa fa-briefcase"></i>
                {{d.sentiment}}
                <br/>
                <small class="text-navy">2 hour ago</small>
              </div>
              <div class="col-xs-7 content no-top-border">


               {{d.text}}

              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>

</div>
